body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}

header img {
    border-radius: 200px;
    height: 100px;
    margin-right: 20px;
    border: 3px solid whitesmoke;
    
}

#contact-me {
    color: whitesmoke;
}

h2 {
    color: black;
    /* border-right: black 5px solid; */
    /* padding-right: 50px; */
    font-size: xx-large;
}



.section2 .images {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    flex-grow: inherit;
    margin-right: 20px;
}


.image img {
    max-width: 97%;
    height: auto;
    border: 5px solid rgb(89, 99, 96);
    opacity: 0.7;
    flex-wrap: wrap;
    border-radius: 15px;
}



.image img:hover {
    opacity: 1;
}

/* START HEADER */
header {
      padding: 20px 35px;
      display: flex;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: black;
      z-index: 9999;
      align-items: center;
    }

header h1 {
    margin-right: auto;
    font-weight: bold;
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    opacity: 0.5;
}

header nav {
    flex-wrap: wrap;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* END HEADER */

/* START SECTION */

.main {
    display: flex;
}


.section1 {
    display: flex;
}

.section2 {
    display: flex;
}

.text {
    width: 75%;
    height: 230px;
    /* margin: 0; */
    margin: 0 80px 0 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-size: 1.75vw;
}

.about-me {
    height: 230px;
    width: 25%;
    margin: 20px 130px;
    border-right: 5px solid black;
    justify-content: center;
    display: flex;
}

.projects {
    max-height: 100%;
    width: 25%;
    margin: 10px 100px;
    justify-content: center;
    display: flex;
    border-right: 5px black solid;
}

.images {
    width: 75%;
}

.image {
    margin: auto;
}



/* END SECTION */

/* START FOOTER */

footer {
    background-color: black;
    display: flex;
}

footer h2 {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer div {
   margin: 0 auto;
}

footer ul {
    align-items: center;
    margin-top: 25px;
}

footer ul li {
    list-style: none;
    display: inline;
    width: auto;
}

footer ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px;
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 0 20px;
}


@media screen and (max-width: 768px) {
    /* Header */
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header img {
        margin: 0;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header a {
        margin: 0;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding: 0;
        display: inline;
    }

    
    header nav ul li a {
        font-size: 20px;
        margin: 0;
        padding: 15px;
        padding: 5px;
        display: inline;
    }

    /*End Header*/

    /* About Me */

    .section1 {
        justify-content: center;
        position: relative;
        padding-bottom: 0;
        flex-wrap: wrap;
    }

    .about-me {
        border: none;
    }

    h2 {
        min-width: 300px;
        justify-content: center;
        margin-bottom: 0;
        text-align: center;
    }

    .text {
        border-top: 5px solid black;
        margin: 0;
        display: inline;
    }

    p {
        font-size: large;
    }

    /* End About Me */

    /* Start Projects */

    .section2 {
        justify-content: center;
        position: relative;
        padding-bottom: 0;
        flex-wrap: wrap;
    }

    .projects {
        min-width: 200px;
    }

    .section2 .images {
        margin-right: 0;
    }

    .projects {
        border-bottom: 5px solid black;
        border-right: none;
        min-width: 400px;
        margin: 45px;
    }

    .projects h2 {
        margin: 0;
    }

    #run-buddy {
        margin-top: 75px;
    }

    /* End Projects */

    /*Start Header*/
    
    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer h1 {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    #contact-me {
        margin: 30px 0 15px 0;
    }

    footer ul li {
        display: table;
    }

    footer ul li a {
        padding: 5px;
    }

    .contact-info {
        padding: 0;
    }

    footer div {
        margin-bottom: 30px;
    }
}
